.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(72, 120, 72);
  padding: 2rem;
  margin: auto;
  min-height: 100vh;
}

@media (min-width: 900px) {
  .container {
    width: 80%;
    justify-self: center;
  }
}
