@media (min-width: 500px) and (max-width: 899px) {
  .book-cards,
  .reading-columns {
    display: grid;
    width: 70%;
    justify-self: center;
  } 
}

@media (min-width: 900px) {
  .book-cards{
    display: inline flex;
    justify-self: center;
  } 

  .book-card {
    margin: 1rem;
  }

  div.reading-columns {
    display: flex;
    color: rgb(250, 241, 241);
    .column {
      padding: 0.5rem;
      border: 1px solid grey;
      background-color: rgb(94, 51, 51);
      margin: 0 0.5rem;
    }
  }

  .delete-btn:hover {
    animation: spin 0.75s forwards;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.book-card {
  display: grid;
  background-color: rgb(94, 51, 51);
  border: 1px solid rgb(94, 51, 51);
  border-radius: 8px;
  width: 90%;
  padding: 1rem;
  margin-top: 1rem;
}

.book-input {
  display: flex;
  border-radius: 5px;
  padding: 1rem;
}

.book-input-btn {
  display: flex;
  padding: 0.5rem 2rem;
  font-size: large;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: rgb(8, 164, 8);
  border-radius: 5px;
  color: rgb(250, 241, 241);
}

button:hover{
  background-color: rgb(4, 114, 4);
}

.book-input select {
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
} 

.book-icon-btn {
  padding: 0.25rem 0.25rem 0;
  margin-left: 0.25rem;
}

.book-icon-btn-image {
  height: 2rem;
  width: 2.5rem;
}

.book-icon {
  height: 2rem;
  width: 2.5rem;
  padding: 0 1rem 0;
}

.month-year-inputs {
  display: inline-flex;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0.75rem 0.25rem 0;
  padding: 0.5rem 0;
}

.dropdown-container select {
  padding: 0.75rem;
  font-size: medium;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
}

.year-input-container {
  display: flex;
  max-width: fit-content;
  border: 1px solid #ccc;
  border-radius: 6px;
  justify-self: center;
  margin: 1rem 0;
}

.year-input-container .year-input {
  width: 4rem;
  text-align: center;
  font-size: 20px;
  border: none;
  margin: 0;
}

.add-btn {
  margin-left: 1rem;
}

.reading-columns {
  display: inline-block;
  justify-self: center;
  color: rgb(250, 241, 241);
}

.column {
  width: 90%;
  padding: 1rem;
  background-color: rgb(94, 51, 51);
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 1rem;
}

.column-h2 {
  display: flex;
}

.column ul {
  padding: 0 0.75rem;
}

.column li {
  background-color: rgba(166, 113, 113, 0.363);
  padding: 0.75rem;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  height: 1.75rem;
  padding: 5px 10px;
  transition: transform 0.5s;
}

.column li:hover {
  background-color: rgba(166, 113, 113, 0.5);
  cursor: pointer;
}

.show-more-btn,
.show-less-btn {
  padding: 0.25rem;
  margin-left: 0.25rem;
}